XWordServiceClient/Service References/XWordServiceReference1/DocPageFetchService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DocPageFetchService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/XWordService/DocPageFetchService/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/XWordService/DocPageFetchService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/XWordService/DocPageFetchService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/XWordService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDocPageFetchService_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IDocPageFetchService_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IDocPageFetchService_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IDocPageFetchService_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IDocPageFetchService_GetDocPagesData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDocPagesData" />
  </wsdl:message>
  <wsdl:message name="IDocPageFetchService_GetDocPagesData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDocPagesDataResponse" />
  </wsdl:message>
  <wsdl:portType name="IDocPageFetchService">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IDocPageFetchService/GetData" message="tns:IDocPageFetchService_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDocPageFetchService/GetDataResponse" message="tns:IDocPageFetchService_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IDocPageFetchService/GetDataUsingDataContract" message="tns:IDocPageFetchService_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDocPageFetchService/GetDataUsingDataContractResponse" message="tns:IDocPageFetchService_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDocPagesData">
      <wsdl:input wsaw:Action="http://tempuri.org/IDocPageFetchService/GetDocPagesData" message="tns:IDocPageFetchService_GetDocPagesData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDocPageFetchService/GetDocPagesDataResponse" message="tns:IDocPageFetchService_GetDocPagesData_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDocPageFetchService" type="tns:IDocPageFetchService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IDocPageFetchService/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IDocPageFetchService/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocPagesData">
      <soap:operation soapAction="http://tempuri.org/IDocPageFetchService/GetDocPagesData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DocPageFetchService">
    <wsdl:port name="BasicHttpBinding_IDocPageFetchService" binding="tns:BasicHttpBinding_IDocPageFetchService">
      <soap:address location="http://localhost:8733/XWordService/DocPageFetchService/GetPages" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>